<div class="row justify-content-center align-items-center p-4">

    <div class="col-lg-3 col-md-5 col-sm-1 text-center mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-1">
        <div id="dummy"></div>
        <div id="element">
          <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image">
        </div>
      </div>
    </div>
  <div class="col-lg-8 col-md-10 text-center mt-4">

      <p class="text-muted">{{ site.description }}</p>
  </div>

  </div>
</div>