
<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!-- Initialize all tooltips -->
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})

$(function(){

$('.project.card').hover(
    // trigger when mouse hover
    function(){ $(this).animate({ marginTop: "-=1%", marginBottom: "+=1%" }, 200) },

    // trigger when mouse out
    function(){ $(this).animate({ marginTop: "+=1%", marginBottom: "-=1%" }, 200) }
);

});
</script>